
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  height: 100vh; 
  background: linear-gradient(to bottom, #050535, #31318b, #bbbbdb);
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.titulo-principal {
  font-size: 4rem;
  font-weight: 700;
  color:#bbbbdb;
  text-align: center;
  padding-top: 20rem;
  
}

.informacoes-secundarias{
  font-size: 2.8rem;
  color: #050535;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;

}

.botao {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  margin-top: 2.5rem;
  border: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbbbdb;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border-bottom: solid 0.4rem #050535;
  border-right: solid 0.4rem #050535;
}

.botao:hover {
  border: solid 0.2rem #050535;
  color: white;
}

.titulo-listaLivros, .titulo-cadastro{
  margin-top: 2rem;
  padding-top: 6rem;
  margin-bottom: 2rem;
}

.lista{
  font-size: 2rem;
  margin-top: 2.5rem;
  color: #bbbbdb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
  
}

.label-cadastro {
  font-size: 1.8rem;
  color: #bbbbdb;

}

.formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: #050535;
  padding: 1rem;
  border-radius: 3rem;
  width: fit-content;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.botao-cadastro {
  background-color: #050535;
  border-bottom: solid 0.4rem #bbbbdb;
  border-right: solid 0.4rem #bbbbdb;
  margin-top: 38rem;
}

.botao-cadastro:hover {
  border: solid 0.2rem #bbbbdb;
  color: white;
}

.input-cadastro {
  background-color: #bbbbdb;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  margin-top: 2rem;
  border: 0;
  text-align: justify;
  
}

.informacoes-livroAdicionado {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  color: #050535;
  margin-top: 3rem;
}

.informacoes-listaCompleta {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #31318b;
}

.informacoes-listaCompleta:hover {
  text-decoration: underline;
  font-size: 2rem;
  color: #050535;
}

.itens-navbar {
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  padding: 1rem;
  width: 80rem;
  background-color: #bbbbdb;
  color: #050535 !important;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  margin-top: 0.8rem;
}

.itens-navbar a {
  text-decoration: none;
  margin: auto;
  font-size: 1.8rem;
  list-style-type: none;
  color: #050535;
}


.itens-navbar a:hover {
  font-size: 1.6rem;
  font-weight: 700;
}

.botao-salvar {
  background-color: #050535;
  border-bottom: solid 0.4rem #bbbbdb;
  border-right: solid 0.4rem #bbbbdb;
  margin-top: 38rem;
}

.botao-salvar:hover {
  border: solid 0.2rem #bbbbdb;
  color: white;
}

.botao-editar, .botao-excluir {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  background-color: #bbbbdb;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 0.6rem;
  color: #050535;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border-bottom: solid 0.4rem #050535;
  border-right: solid 0.4rem #050535;
}

.botao-editar:hover, .botao-excluir:hover{
  border: solid 0.2rem #bbbbdb;
  color: white;
}